<div class="container">
  <h1>Weather Forecast</h1>
  <ul>
    <li>
      <a [routerLink]="['/seattle']">Seattle</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/sj']">San Jose</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/burbank']">Burbank</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/dallas']">Dallas</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/washington']">Washington.</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/chicago']">Chicago</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
